.destacats-content-img{
    height: 500px;
}

.destacats-content-name{
    text-align: center;
    font-size: 30px !important;
    text-decoration: underline;
}

.destacats-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.destacats-flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 18px;
}
