h3{
    text-align: center;
}

.category-flex-container {
    display: flex;
    flex-direction: column;
}
.category-flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 18px;
}

.category-title{
    text-align: center;
    font-size: 30px !important;
    text-decoration: underline;
}

.category-data-image {
    width: 600px;
    height: 700px;
    border-style: double;
}

.category-data-container{
    display: -webkit-inline-box;
}

.category-data-name{
    font-size: 28px;
    text-align: -webkit-center;
}